.container {
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 70vw;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.466);
}

.topSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.representativeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  gap: 10px;
  & button {
    all: unset;
  }
}

.representative {
  color: #6c63ff;
}

.availability {
  color: grey;
}

.icon {
  margin-right: 5px;
  font-size: 1.5rem;
  color: #6c63ff;
  margin-right: 15px;
}

.shareIcon {
  background-color: #6c63ff;
  padding: 5px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.bottomLeft {
  flex: 3;
  text-align: justify;
  & p {
    color: black;
  }
}

.bottomLeft h2 {
  margin-bottom: 15px;
}

.bottomRight {
  flex: 1.8;
}

.similarBusiness {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.bookAppointmentButton {
  width: 100% !important;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 20px;
  .bookingIcon {
    margin-right: 8px;
  }
}
