@import url("//fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+NG+Modern:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
